<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginRedirectServlet</servlet-name>
        <servlet-class>Login_PK.LoginRedirectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadCDRServlet</servlet-name>
        <servlet-class>CDR_PK.UploadCDRServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubscribersMainPageServlet</servlet-name>
        <servlet-class>Subscribers_PK.SubscribersMainPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllPlanServlet</servlet-name>
        <servlet-class>Plans_PK.GetAllPlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSubscriberServlet</servlet-name>
        <servlet-class>Subscribers_PK.AddSubscriberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSubscriberServlet</servlet-name>
        <servlet-class>Subscribers_PK.DeleteSubscriberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSubscriberServlet</servlet-name>
        <servlet-class>Subscribers_PK.EditSubscriberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSubscriberOperationServlet</servlet-name>
        <servlet-class>Subscribers_PK.UpdateSubscriberOperationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanOperationServlet</servlet-name>
        <servlet-class>Plans_PK.PlanOperationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePlanStatusServlet</servlet-name>
        <servlet-class>Plans_PK.UpdatePlanStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPlanServlet</servlet-name>
        <servlet-class>Plans_PK.EditPlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPlanServlet</servlet-name>
        <servlet-class>Plans_PK.AddPlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OpenPlansPageServelt</servlet-name>
        <servlet-class>Plans_PK.OpenPlansPageServelt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceGetAllServlet</servlet-name>
        <servlet-class>Invoice_PK.InvoiceGetAllServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginRedirectServlet</servlet-name>
        <url-pattern>/LoginRedirectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadCDRServlet</servlet-name>
        <url-pattern>/UploadCDRServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubscribersMainPageServlet</servlet-name>
        <url-pattern>/SubscribersMainPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllPlanServlet</servlet-name>
        <url-pattern>/GetAllPlanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSubscriberServlet</servlet-name>
        <url-pattern>/AddSubscriberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSubscriberServlet</servlet-name>
        <url-pattern>/DeleteSubscriberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSubscriberServlet</servlet-name>
        <url-pattern>/EditSubscriberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSubscriberOperationServlet</servlet-name>
        <url-pattern>/UpdateSubscriberOperationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanOperationServlet</servlet-name>
        <url-pattern>/PlanOperationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePlanStatusServlet</servlet-name>
        <url-pattern>/UpdatePlanStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPlanServlet</servlet-name>
        <url-pattern>/EditPlanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPlanServlet</servlet-name>
        <url-pattern>/AddPlanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OpenPlansPageServelt</servlet-name>
        <url-pattern>/OpenPlansPageServelt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceGetAllServlet</servlet-name>
        <url-pattern>/InvoiceGetAllServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
